# Dependencies
node_modules/
package-lock.json

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
scratch/

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.tmp
.vscode/
.idea/
